.sidebar{
    
    background: rgb(113, 231, 113)!important;

}
.nav{
    /* position:fixed; */
    
    
     
    /* position: fixed !important; */
    background-color:rgb(56, 51, 51) !important
}
.navside{
    
   
    border-radius: 3%;
     
    margin-right: 1%;
    margin-left: 1%;
}
.itemside{
     
    font-size: 15px;
    font-weight: heavier;
    color: white !important;
    text-decoration: none !important;
    text-align: center;
    margin-top: 1%;
 
    margin-bottom: 1%;
    margin-right: 2%;
    margin-left: 2%;
    
}
.itemside:hover{
    font-size: 15px;
    font-weight: heavier;
    color:rgb(113, 231, 113)!important; ;
    text-decoration: none !important;
    text-align: center;
    background: rgb(78, 76, 76);
  border-radius: 20%;
}

.nav {
    color: white !important;
    text-decoration: none;
    
}
.spanside{
    color: rgb(241, 233, 233);
}
.spanside:hover{
    color: rgb(113, 231, 113);
}
.side{
    bottom: 0;
     margin-bottom: 2%;
      position: sticky;
       margin-left: 3%;
        margin-right: 10%;
        border-radius:2%;
        -webkit-box-shadow: 3px 3px 5px 6px #979794   ;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
 -moz-box-shadow:    3px 3px 5px 6px #979794   ;  /* Firefox 3.5 - 3.6 */
 box-shadow:         3px 3px 5px 6px #979794     ;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}